<% @stocks.each do |stock| %>
    <% @buy_total += stock.quantity.to_i * stock.buy_price.to_i %>
    <% @sell_total += stock.quantity.to_i * stock.sell_price.to_i %>
    <% @profit = @sell_total - @buy_total %>
<% end %>

<div class="col-xs-6 col-sm-3 placeholder">
  <h1 class="total-num text-center"><%= "#{ @quantity_total }" %></h1>
  <h4>Total Quantity</h4>
  <span class="text-muted">Total # of items in your stockpile</span>
</div>

<div class="col-xs-6 col-sm-3 placeholder">
  <h1 class="total-num text-center">$<%= "#{ @buy_total }" %></h1>
  <h4>Total Spent</h4>
  <span class="text-muted">Total # spent on items</span>
</div>

<div class="col-xs-6 col-sm-3 placeholder">
  <h1 class="total-num text-center">$<%= "#{ @sell_total }" %></h1>
  <h4>Total Sold</h4>
  <span class="text-muted">Total # items sold for</span>
</div>

<div class="col-xs-6 col-sm-3 placeholder">
  <h1 class="total-num text-center">$<%= "#{ @profit }" %></h1>
  <h4>Total Profit</h4>
  <span class="text-muted">Total Sold - Total Spent</span>
</div>