<h1>Public Display Page</h1>

<div class="row">
  <% @stocks.each do |stock| %>
  <div class="col-sm-3 col-md-3">

      <div class="thumbnail">
        <%= image_tag stock.stck_img, class: "img-responsive thumb-img" %>
        <div class="caption">
          <h3><%= "#{ stock.name }" %></h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>

  </div>
  <% end %>
</div>