<h1>Public Display Page</h1>

<div class="row">

<% @stocks.each do |stock| %>
    <div id="stocks" class="col-sm-3 col-md-3">

      <div class="box panel panel-default">
        <div class="panel-body">
          <%= image_tag stock.stck_img, class: "img-responsive thumb-img" %>
        </div>
        <div class="panel-footer">
            <h3><%= "#{ stock.name }" %></h3>
            <p>Stocked by: <%= "#{ stock.user.username }" %></p>
        </div>
      </div>

    </div>
    <% end %>

</div>


