<div class="jumbotron dashboard">
  <h1 class="text-center">Dashboard</h1>
</div>

<div class="row placeholders">
  <%= render 'stocks/totals' %>
</div>

<hr>

<div class="row">
  <div class="col-md-12 .col-sm-12 .col-xs-12">
    <div class="table-responsive">
      <!-- stocks table partial -->
      <%= render 'stocks/stocks_table' %>
    </div>
  </div>
</div>

<hr>
<%= link_to "Add Stock", new_stock_path, class: "btn btn-primary" %>
<%= link_to "Add Category", categories_path, class: "btn btn-success", data: { no_turbolink: true } %>