<div class="jumbotron">
	<h1 class="text-center">About</h1>
</div>

<br>
<h3>Why did we create StckPilin?</h3>

<blockquote>
<p class="about-p">Everyone wants to be a couponer until they realize how much work it is. Whether we coupon out of necesity, addiction or fun, it's a part of our lives and why let the fun end once we leave the store</p>
</blockquote>

<blockquote>
<p class="about-p">Organization is a couponers BF (BEST FRIEND) that's why StckPilin is where its at. All the work is done for you because you should always know exactly whats in your stckpile. Never worry about what you do or don't have again. Welcome to StckPilin!! </p>
</blockquote>

<br><br>