<div class="jumbotron">
  <h1 class="text-center">Welcome to StockPilin</h1>
  <h1 class="text-center"><small>A place for extreme couponers</small></h1>
  <div class="text-center">
    <%= link_to "Learn more", root_path, class: "btn btn-lg btn-info" %>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-success" %>
  </div>
</div>