/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables
 */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lobster);

$navbar-default-brand-color: red;
$navbar-default-brand-hover-color: red;
$jumbotron-bg: white;

@import "bootstrap-sprockets";
@import "bootstrap";

/*padding to help with navbar*/
body {
  font-family: 'Lato', sans-serif;
  background: #E9E9E9;
  padding-top: 70px;
}

.navbar {
  .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
  }
}

button.close {
  padding-right: 5px;
}

.alert-info {
  font-size: 15px;
}

.dashboard {
  padding-top: 2px;
  padding-bottom: 10px;
}

.jumbotron {
  background: white;
}

footer {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin-top: 30px;
  background: white;
  width: 100%;
  height: 55px;
  position: relative;
  bottom: 0;
  p {
    font-size: 17px;
    padding-top: 10px;
  }
}

.show-img {
  width: 100%;
  height: 300px;
}

  .thumb-img {
    width: 242px;
    height: 200px;
  }

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing-img {
  display: inline-block;
  border-radius: 50%;
}