<div class="form-group nested-fields">
  <div class="field">
    <%= f.label :subcategory_name %>
    <%= f.text_field :name, placeholder: "Subcategory name", class: "form-input form-control" %>
  </div><br>
  <%= link_to_remove_association "Remove Subcategory", f, class: "btn btn-xs btn-danger" %>
</div>