<br>
<div class="row">
  <div class="col-md-8 .col-sm-8 .col-xs-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">Edit Category</h3>
      </div>
      <div class="panel-body">
        <!-- navbar partial -->
        <%= render 'categories/form' %>
      </div>
    </div>
    <%= link_to 'Back', categories_path %>
  </div>
</div>