<% flash.each do |name, msg| %>

  <% if msg == "See ya later alligator!" %>
    <% name = "danger" %>
  <% elsif msg == "Hmmm that wasn't right. Try again." %>
    <% name = "warning" %>
  <% else %>
    <% name = "success" %>
  <% end %>

  <%= content_tag(:div, class: "alert alert-#{name} text-center") do %>
    <%=msg%>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%end%>

<% end %>