<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text-center">Log In</h3>
      </div>
      <div class="modal-body">

        <%= form_tag login_path do %>
          Email: <%= text_field_tag :email %><br><br>
          Password: <%= password_field_tag :password %><br><br>
          <%= submit_tag "Log In", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>

    </div>
  </div>
</div>